@page
@model ParcialRostrosFelices.Pages.Clientes.EditModel
@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Clientes</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Cliente.Id" />
			<div class="form-group">
				<label asp-for="Cliente.Name" class="control-label"></label>
				<input asp-for="Cliente.Name" class="form-control" />
				<span asp-validation-for="Cliente.Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Cliente.TipoDocumento" class="control-label"></label>
				<input asp-for="Cliente.TipoDocumento" class="form-control" />
				<span asp-validation-for="Cliente.TipoDocumento" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Cliente.NroDocumento" class="control-label"></label>
				<input asp-for="Cliente.NroDocumento" class="form-control" />
				<span asp-validation-for="Cliente.NroDocumento" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Cliente.Telefono" class="control-label"></label>
				<input asp-for="Cliente.Telefono" class="form-control" />
				<span asp-validation-for="Cliente.Telefono" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-success" />
				<a asp-page="./Index" class="btn btn-primary">Back to list</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}


